{%- extends "base.twig" -%}

{%- block precontent -%}
<div id="nav">
  <ul>
    <li>
    {%- if (currentUser is null) -%}
      <a href="{{ path('/login') }}">Login</a>
    {%- else -%}
      <a href="{{ path('/logout') }}">Log Out</a>
    {%- endif -%}
    </li>
  </ul>
</div>
{%- endblock -%}
