#form-user {
  margin-bottom: 1em;
}

#form-user label {
  display: inline-block;
  width: 100px;
}

#form-user label.role-label {
  width: auto;
}


#form-user .form-row {
  margin-bottom: 4px;
}

#form-user .button-row {
  margin-top: 20px;
}

#form-user .error-row {
  margin-top: 20px;
}

#form-user .roles-row {
  margin-top: 20px;
}

#form-user #email {
  width: 380px;
}

#form-user #password, #form-user #confirm-password {
  width: 200px;
}
