html, body, div, p, form, table, thead, tbody, tfoot, tr, th, td, header, footer, section, article,
ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

span, a, label, input, button {
	display: inline-block;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 12pt;
	display: flex;
	flex-direction: column;
}

#header {
	flex-shrink: 0;
	height: 80px;
	background-color: #6A48D7;
	padding: 0 4px;
	display: flex;
	align-items: center;
}

#header > h1 {
	font-size: 36px;
	font-weight: 600;
	color: #312164;
}

#nav {
    flex-shrink: 0;
    height: 26px;
    background-color: #3914AF;	
    padding: 0 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav > ul {
	list-style-type: none;
	display: flex;
	height: 100%;
	flex-direction: row;
}

#nav > ul > li {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav > ul > li > a, #nav > .current-user > a {
	text-decoration: none;
	margin-right: 8px;
	color: #ffffff;
}

#nav > ul > li:last-child > a {
	margin-right: 0;
}

#nav > ul > li > a:hover, #nav > .current-user > a:hover {
	color: #c2bfcc;
}

#content {
	flex: 1 0 auto;
	padding: 4px;
}

#content h1 {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 0.5em;
	color: #412C84;
}

#content h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0.5em;
}


#content p {
	margin-bottom: 0.5em;
}

#content a:link, #content a:visited {
	color: #6A48D7;
}

#content a:active {
	color: #3914AF;
}

#content table {
    margin-bottom: 0.5em;
}

#footer {
	flex-shrink: 0;
	height: 40px;
	font-size: 14px;
	background-color: #200772;
	color: #ffffff;
	padding: 0 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logout-form {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.link-button {
	margin: 0;
	padding: 0;
	background: none;
	color: #ffffff;
	font: inherit;
	cursor: pointer;
	box-shadow: none;
	border: none;
	text-align: left;
}

.link-button:hover {
	color: #c2bfcc;
}
