<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SeeBooks</title>
    <link rel="stylesheet" href="{{ path('/css/global-styles.css') }}" />
    <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
        <link type="text/css" rel="stylesheet" href="{{ path('/js/<%= htmlWebpackPlugin.files.css[i].substr(htmlWebpackPlugin.files.css[i].lastIndexOf('/') + 1) %>') }}>
    <% } %>

    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
        <script type="text/javascript" src="{{ path('/js/<%= htmlWebpackPlugin.files.js[i].substr(htmlWebpackPlugin.files.js[i].lastIndexOf('/') + 1) %>') }}"></script>
    <% } %>

    {%- block customheaders -%}
    {%- endblock -%}
  </head>
  <body>
    <div id="header">
      <h1>SeeBooks</h1>
    </div>
    {%- block precontent -%}
    {%- endblock -%}
    <div id="content">
      {%- block content -%}
      {%- endblock -%}
    </div>
    <div id="footer">
      <footer>
        <p>Copyright &copy; 2019 Perry Valdez. All rights reserved.</p>
      </footer>
    </div>
    {%- block postcontent -%}
    {%- endblock -%}
  </body>
</html>
